#home {
  background-color: rgba(0, 195, 255, 0.76);
  /* background-image: url(../PicsandVids/website_main.jpg); */
}

#games {
  background: -webkit-linear-gradient(
    to bottom,
    #d8ffff,
    #0099f7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #d8ffff,
    #0099f7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mygamesdisplays {
  align-content: center;
}

.projects {
  align-items: center;
}

#apps {
  background: -webkit-linear-gradient(
    to right,
    #c432a1,
    #0e0849
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #c432a1,
    #0e0849
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#designs {
  background-image: url(../PicsandVids/DesignBackground.jpg);
}
