#home {
  background-image: url(../PicsandVids/website_main.jpg);
}

#games {
  background: -webkit-linear-gradient(
    to bottom,
    #d8ffff,
    #0099f7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #d8ffff,
    #0099f7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mygamesdisplays {
  align-content: center;
}

.projects {
  align-items: center;
}

#apps {
  background: #1c92d2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #f2fcfe,
    rgb(255, 0, 0)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f2fcfe, red);
}

#designs {
  background: #0099f7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #c432a1,
    #f2fcfe
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #c432a1,
    #f2fcfe
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
