#projects {
  color: aliceblue;
  position: relative;
  display: block;
  z-index: 1;
  margin-bottom: 5em;
  margin-top: 10vh;
}

.modal {
  width: 70%;
  height: auto;
}

#popUpModal {
  background: #0099f7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #d8ffff,
    #0099f7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #d8ffff, #0099f7);
  font-size: large;
  align-items: center;
  margin: 5;
  padding: 10;
  margin-bottom: 20;
}

.responsive-vid {
  /* animation-play-state: paused; */
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 1;
  /* display: block; */
  position: relative;
  min-height: 100%;
  min-width: 100%;
  /* overflow: hidden; */
}

.make-grid {
  align-items: center;
}

.picApps {
  width: 10%;
  height: 20%;
}

#appsNameText {
  text-align: center;
  font-size: large;
  font-family: "Heebo", sans-serif;
}

#ToDoModal {
  width: 40%;
}

.display-items-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
