.Button {
  font-weight: 500;
  color: #edf0f1;
  font-size: 16px;
  text-decoration: none;
  padding: 9px 25px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.Normal {
  background-color: rgba(0, 136, 169, 1);
}

.Normal:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

.Critical {
  background-color: rgb(151, 61, 61);
}

.Critical:hover {
  background-color: rgba(151, 61, 61, 0.8);
}

.Good {
  background-color: #236a23;
}

.Good:hover {
  background-color: rgba(35, 106, 35, 0.8);
}
